# Runtime
TZ=Asia/Shanghai
APP_PORT=8080
DB_PORT=5432
BLUE_PORT=18080
GREEN_PORT=28080
APP_BIND_IP=127.0.0.1
DB_BIND_IP=127.0.0.1
BLUE_BIND_IP=127.0.0.1
GREEN_BIND_IP=127.0.0.1
JAVA_OPTS="-Xms256m -Xmx1024m"
APP_IMAGE=patch-lifecycle:latest
POSTGRES_IMAGE=postgres:16-alpine
JAVA_BUILDER_IMAGE=eclipse-temurin:21-jdk
JAVA_RUNTIME_IMAGE=eclipse-temurin:21-jre
APP_BUILD_ENABLED=true
APP_PULL_IMAGE=false
COMPOSE_BUILD_PULL=false
# 私有仓库示例（按需启用）:
# APP_IMAGE=registry.cn-hangzhou.aliyuncs.com/your-namespace/patch-lifecycle:latest
# POSTGRES_IMAGE=registry.cn-hangzhou.aliyuncs.com/your-namespace/postgres:16-alpine
# JAVA_BUILDER_IMAGE=registry.cn-hangzhou.aliyuncs.com/your-namespace/eclipse-temurin:21-jdk
# JAVA_RUNTIME_IMAGE=registry.cn-hangzhou.aliyuncs.com/your-namespace/eclipse-temurin:21-jre
PROM_BIND_IP=127.0.0.1
PROM_PORT=9090
PROM_RETENTION=15d
PROM_EXTERNAL_URL=http://localhost:9090
ALERTMANAGER_BIND_IP=127.0.0.1
ALERTMANAGER_PORT=9093
ALERTMANAGER_EXTERNAL_URL=http://localhost:9093
GRAFANA_BIND_IP=127.0.0.1
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=please_change_grafana_password
GRAFANA_DOMAIN=localhost
GRAFANA_ROOT_URL=http://localhost:3000

# PostgreSQL
POSTGRES_DB=patches
POSTGRES_USER=patches
POSTGRES_PASSWORD=please_change_me
