spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DATABASE:patches}}
    username: ${DB_USERNAME:${POSTGRES_USER:patches}}
    password: ${DB_PASSWORD:${POSTGRES_PASSWORD:patches}}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    locations: classpath:db/migration
